extends layout

block content

  h1 #{title}: #{book.title}


  div(style='margin-left:20px;margin-top:20px')

    h4 Books

    dl
    each book in book_books
      dt
        a(href=book.url) #{book.title}
      dd #{book.summary}

    else
      p There are no copies of this book in the library..
